{% extends "base.html" %}
{% block content %}
            <div class="has-text-centered">
            <form method="post" action="{{ url_for('post_blueprint.new_post') }}">
                {{ form.hidden_tag() }}

                <div class="field mb-4">
                    {{ form.title.label(class="is-size-4") }}
                    <div class="control">
                        {{ form.title(class="is-size-6 p-2") }}
                    </div>
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="field">
                    {{ form.content.label(class="is-size-4") }}
                    <div class="control">
                        {{ form.content(class="my-textarea is-size-6 p-4") }}
                    </div>
                    {% if form.content.errors %}
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                {{ form.submit(class="button is-link mt-4 mb-6") }}
            </form>
            </div>
{% endblock content %}