{% extends "base.html" %}
{% block content %}
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul class="mb-5">
        {% for category, message in messages %}
        <li class="is-size-5 has-text-{{ category }}-dark has-text-weight-light">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% if posts %}
      {% for post in posts.items %}
      <a href="{{ url_for('post_blueprint.post', post_id=post.id) }}" class="has-text-grey-darker">
      <article class="box media">
        <div class="media-left">
            <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile Picture" class="small-profile-img">
        </div>
        <div class="media-content is-primary">
          <h2 class="title">{{ post.title }}</h2>
          <h3 class="subtitle is-size-6">
            <a>{{ post.author.username }}</a>
            <time datetime="{{ post.date_posted.date() }}">{{ post.date_posted.date() }}</time>
          </h3>
        </div>
      </article>
      </a>
      {% endfor %}
      {% endif %}

      <nav class="pagination my-6">
        <ul class="pagination-list">
          {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
          <li>
            {% if page_num == page %}
            <a href="/?page={{ page_num }}" class="pagination-link is-current">{{ page_num }}</a>
            {% else %}
            <a href="/?page={{ page_num }}" class="pagination-link">{{ page_num }}</a>
            {% endif %}
          </li>
          {% else %}
          ...
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
{% endblock content %}
