{% extends "base.html" %}
{% block content %}
      <div class="has-text-centered">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul class="mb-6">
        {% for category, message in messages %}
        <li class="is-size-5 has-text-{{ category }}-dark has-text-weight-light">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <h2 class="title is-size-2 has-text-grey-darker">{{ post.title }}</h2>

      <div class="container">
        <p class="is-size-5 has-text-grey-darker" style="line-height: 1.7;">{{ post.content }}</p>
      </div>

      <div class="container has-text-centered my-6">
      {% if current_user.is_authenticated and post.author == current_user %}
      <a href="{{ url_for('post_blueprint.update_post', post_id=post.id) }}" class="button is-warning mr-4">Update</a>
      <a href="{{ url_for('post_blueprint.delete_post', post_id=post.id) }}" class="button is-danger">Delete</a>
      {% endif %}
      </div>
      </div>
{% endblock content %}
