<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body class="has-background-light">
  <nav class="navbar">
    <div class="navbar-menu is-active pt-6 pl-6 has-background-light">
      <div class="navbar-start">
        <a href="{{ url_for('main_blueprint.home') }}" class="navbar-item">
          <span class="icon"><i class='bx bx-home-alt-2 is-size-2'></i></span>
        </a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container has-text-centered">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul>
        {% for category, message in messages %}
        <li class="is-size-6 has-text-{{ category }}-dark">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <img src="{{ image_file }}" alt="Profile Picture" class="profile-img mb-5">

      <form action="{{ url_for('main_blueprint.account') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="field mb-5">
          {{ form.username.label(class="is-size-4") }}
          <div class="control">
            {{ form.username(class="is-size-6 p-1") }}
          </div>
          {% if form.username.errors %}
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>

        <div class="field">
          {{ form.picture.label(class="is-size-4") }}
          <div class="control">
            {{ form.picture(class="is-size-6 p-1") }}
          </div>
          {% if form.picture.errors %}
          {% for error in form.picture.errors %}
          <span>{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>

        {{ form.submit(class="button is-warning is-medium my-6") }}
      </form>
    </div>
  </section>
</body>
</html>
