<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body class="has-background-light">
  <nav class="navbar">
    <div class="navbar-menu is-active pt-6 pl-6 has-background-light">
      <div class="navbar-start">
        <a href="{{ url_for('main_blueprint.home') }}" class="navbar-item">
          <span class="icon"><i class='bx bx-home-alt-2 is-size-3'></i></span>
        </a>
      </div>
    </div>
  </nav>

  <section>
    <div class="container has-text-centered mb-5">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul class="mb-6">
        {% for category, message in messages %}
        <li class="is-size-5 has-text-{{ category }}-dark has-text-weight-light">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <h2 class="title is-size-2 has-text-grey-darker">{{ post.title }}</h2>
    </div>

    <div class="container">
      <p class="is-size-5 has-text-grey-darker" style="line-height: 1.7;">{{ post.content }}</p>
    </div>

    <div class="container has-text-centered my-6">
      {% if current_user.is_authenticated and post.author == current_user %}
      <a href="{{ url_for('post_blueprint.update_post', post_id=post.id) }}" class="button is-warning mr-4">Update</a>
      <a href="{{ url_for('post_blueprint.delete_post', post_id=post.id) }}" class="button is-danger">Delete</a>
      {% endif %}
    </div>
  </section>
</body>
</html>
